<main role="main" class="container">

  <% if user_signed_in?  %>
    <h1> Welcome <%= current_user.email %></h1>
  <% end %>

  <div class="jumbotron">
    <h1>Element Scraper</h1>

    <p class="lead"> This Application is a Web Scraping tool created to help you better examine the elements that make up your favorite webpages. Keep in mind not all pages support web scraping, so please, respect the rules of the domain owners. </p>

    <% if current_user == nil  %>
      <%= link_to 'Click Here to Sign Up', new_user_registration_path, class:"btn btn-primary btn-lg " %>
    <% end %>

  </div>
</main>
